<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1>500</h1>
        <h2>Oops! Error</h2>
        <p>Something went wrong. We're <span class="italic">looking</span> to see what happened.</p>
        <%= link_to 'Back to homepage', main_app.root_path %>
    </div>
</div>
